In [165]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [117]:
df = pd.read_csv('owid-covid-data.csv')

In [118]:
df.shape

(201957, 67)

In [119]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201952,ZWE,Africa,Zimbabwe,2022-07-13,255981.0,0.0,25.143,5565.0,0.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201953,ZWE,Africa,Zimbabwe,2022-07-14,256047.0,66.0,34.571,5566.0,1.0,0.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201954,ZWE,Africa,Zimbabwe,2022-07-15,256083.0,36.0,27.429,5566.0,0.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201955,ZWE,Africa,Zimbabwe,2022-07-16,256083.0,0.0,22.714,5566.0,0.0,0.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201956,ZWE,Africa,Zimbabwe,2022-07-17,256083.0,0.0,20.571,5566.0,0.0,0.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [120]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [121]:
df.describe(include="all")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,201957,190259,201957,201957,1.938910e+05,1.935420e+05,1.923650e+05,1.752050e+05,175158.000000,173996.000000,...,125764.000000,124041.000000,81657.000000,147751.000000,188890.000000,161918.000000,6.846000e+03,6846.000000,6846.000000,6846.000000
unique,244,6,244,929,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ARG,Africa,Argentina,2021-08-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,929,46788,929,243,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,3.654922e+06,1.240479e+04,1.241975e+04,6.778223e+04,150.842582,151.672873,...,10.661794,32.798895,50.890433,3.085508,73.636009,0.725059,4.308325e+04,9.327044,14.412781,1157.816469
std,NaN,NaN,NaN,NaN,2.295670e+07,8.675506e+04,8.494000e+04,3.518427e+05,769.687930,753.322300,...,10.607453,13.530741,31.849989,2.551372,7.448131,0.149714,1.197462e+05,14.127429,27.922957,1656.999495
min,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-3422.406298
25%,NaN,NaN,NaN,NaN,3.150000e+03,0.000000e+00,6.714000e+00,1.010000e+02,0.000000,0.143000,...,1.900000,21.600000,20.859000,1.300000,69.500000,0.602000,-1.450000e+01,-0.180000,-0.460000,-7.288569
50%,NaN,NaN,NaN,NaN,3.937800e+04,6.700000e+01,1.000000e+02,9.920000e+02,1.000000,1.857000,...,6.300000,31.400000,49.839000,2.500000,75.050000,0.743000,4.815300e+03,6.785000,7.090000,605.770016
75%,NaN,NaN,NaN,NaN,4.225425e+05,1.011000e+03,1.131714e+03,8.914000e+03,16.000000,17.714000,...,19.300000,41.300000,83.241000,4.200000,79.070000,0.845000,3.062268e+04,15.080000,20.825000,1860.772631
max,NaN,NaN,NaN,NaN,5.624392e+08,4.079558e+06,3.438025e+06,6.369518e+06,18152.000000,14795.429000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.219078e+06,76.550000,375.790000,9822.218492

In [122]:
df.drop(['new_deaths_smoothed','new_cases_per_million','total_cases_per_million'],axis=1,inplace=True)

In [123]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_cases_smoothed_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201952,ZWE,Africa,Zimbabwe,2022-07-13,255981.0,0.0,25.143,5565.0,0.0,1.572,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201953,ZWE,Africa,Zimbabwe,2022-07-14,256047.0,66.0,34.571,5566.0,1.0,2.162,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201954,ZWE,Africa,Zimbabwe,2022-07-15,256083.0,36.0,27.429,5566.0,0.0,1.715,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201955,ZWE,Africa,Zimbabwe,2022-07-16,256083.0,0.0,22.714,5566.0,0.0,1.420,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201956,ZWE,Africa,Zimbabwe,2022-07-17,256083.0,0.0,20.571,5566.0,0.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [124]:
df.rename(columns={'date': 'Date','location':'Country','continent': 'Continent','iso_code':'ISO_code'},inplace=True)

In [125]:
df

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_cases_smoothed_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201952,ZWE,Africa,Zimbabwe,2022-07-13,255981.0,0.0,25.143,5565.0,0.0,1.572,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201953,ZWE,Africa,Zimbabwe,2022-07-14,256047.0,66.0,34.571,5566.0,1.0,2.162,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201954,ZWE,Africa,Zimbabwe,2022-07-15,256083.0,36.0,27.429,5566.0,0.0,1.715,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201955,ZWE,Africa,Zimbabwe,2022-07-16,256083.0,0.0,22.714,5566.0,0.0,1.420,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
201956,ZWE,Africa,Zimbabwe,2022-07-17,256083.0,0.0,20.571,5566.0,0.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [126]:
continent_unique = list(df.Continent.unique())

In [127]:
continent_unique

['Asia', nan, 'Europe', 'Africa', 'North America', 'South America', 'Oceania']

In [ ]:
imputer = SimpleImputer(strategy='constant')
df2 = pd.DataFrame(imputer.fit_transform(df),columns=df.columns)

In [ ]:
df3 = df2.groupby(['Date','Country',])[['Date','Country','total_cases','total_deaths','total_vaccinations']].sum().reset_index()

In [132]:
df3['total_cases'].replace({'missing_value': 0},inplace=True)

In [134]:
df3['total_deaths'].replace({'missing_value': 0},inplace=True)

In [135]:
df3['total_vaccinations'].replace({'missing_value': 0},inplace=True)

In [138]:
df4 = df3[df3['total_deaths']>100000]

In [139]:
countries = df4['Country'].unique()

In [140]:
len(countries)

28

In [141]:
country_deaths_greaterthan1000000 = list(df4.Country.unique())

In [143]:
country_deaths_greaterthan1000000

['World',
 'High income',
 'Europe',
 'European Union',
 'North America',
 'United States',
 'Upper middle income',
 'South America',
 'Asia',
 'Brazil',
 'Lower middle income',
 'India',
 'Mexico',
 'Peru',
 'United Kingdom',
 'Africa',
 'Italy',
 'Russia',
 'France',
 'Colombia',
 'Argentina',
 'Indonesia',
 'Iran',
 'Germany',
 'Ukraine',
 'Poland',
 'Spain',
 'South Africa']

In [ ]:
for idx in range(0,len(countries)):
    c = df4[df4['Country']==countries[idx]].reset_index()
    plt.scatter(np.arange(0,len(c)),c['total_cases'],color="blue",lable="total_cases")
    plt.scatter(np.arange(0,len(c)),c['total_deaths'],color="red",lable="total_deaths")
    plt.scatter(np.arange(0,len(c)),c['total_vaccinations'],color="green",lable="total_vaccinations")
    plt.title(countries[idx])
    plt.xlable("number of days since first suspect")
    plt.ylable("number of cases")
    plt.legend
    plt.show()